@model WineShop.Models.Customer
<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Mon Profil</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">Accueil</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Mon Profil</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(/Images/account/user-cover-img.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="/Images/account/user-ava.jpg" alt="User"></div>
                    <div class="user-data">
                        <h4>@(Model.FullName)</h4><span></span>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item with-badge" href="@Url.Action("Commands","Profile")"><i class="icon-bag"></i>Commande(s)<span class="badge badge-primary badge-pill">@WineShop.Models.CustomerCommands.GetDataByUidCustomer(Model.Uid).Count</span></a>
                <a class="list-group-item with-badge" href="@Url.Action("Invoices","Profile")"><i class="icon-bag"></i>Facture(s)<span class="badge badge-primary badge-pill">@WineShop.Models.CustomerInvoices.GetDataByUidCustomer(Model.Uid).Count</span></a>
                <a class="list-group-item active" href="#"><i class="icon-head"></i>Profile</a>
                <!--<a class="list-group-item" href="account-address.html"><i class="icon-map"></i>Addresses</a>
                <a class="list-group-item with-badge" href="account-wishlist.html"><i class="icon-heart"></i>Wishlist<span class="badge badge-primary badge-pill">3</span></a>
                <a class="list-group-item with-badge" href="account-tickets.html"><i class="icon-tag"></i>My Tickets<span class="badge badge-primary badge-pill">4</span></a>-->
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-fn">Prénom</label>
                        @Html.TextBoxFor(Model => Model.NameFirst, new { id = "txtNameFirst", @type = "text", @placeholder = "prénom", @required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Nom</label>
                        @Html.TextBoxFor(Model => Model.NameLast, new { id = "txtNameLast", @type = "text", @placeholder = "Nom", @required = "required", @class = "form-control" })
                        <!--<input class="form-control" type="text" id="account-ln" value="Adams" required>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-email">Courriel</label>
                        @Html.TextBoxFor(Model => Model.EmailAddress, new { id = "txtNameLast", @type = "text", @placeholder = "Adresse A-mail", @required = "required", @class = "form-control" })
                        <!--<input class="form-control" type="email" id="account-email" value="daniel.adams@mail.com" disabled>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-phone">Téléphone</label>
                        @Html.TextBoxFor(Model => Model.PhoneNumber, new { id = "txtNameLast", @type = "text", @placeholder = "Numero de Telephone", @required = "required", @class = "form-control" })
                        <!--<input class="form-control" type="text" id="account-phone" value="+7(805) 348 95 72" required>-->
                    </div>
                </div>
                <!-- <div class="col-md-6">
                     <div class="form-group">
                         <label for="account-pass">New Password</label>
                         <input class="form-control" type="password" id="account-pass">
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label for="account-confirm-pass">Confirm Password</label>
                         <input class="form-control" type="password" id="account-confirm-pass">
                     </div>
                 </div>
                 <!--<div class="col-12">
                     <hr class="mt-2 mb-3">
                     <div class="d-flex flex-wrap justify-content-between align-items-center">
                         <label class="custom-control custom-checkbox d-block">
                             <input class="custom-control-input" type="checkbox" checked><span class="custom-control-indicator"></span><span class="custom-control-description">Subscribe me to Newsletter</span>
                         </label>
                         <button class="btn btn-primary margin-right-none" type="button" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-circle-check" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Profile</button>
                     </div>
                 </div>-->
            </form>
        </div>
    </div>
</div>

