@model  WineShop.Models.Views.ModelChangePassword
<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Connexion / Inscription</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">Accueil</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="@Url.Action("Profile","Profile")">Compte</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Connexion / Inscription</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("ChangePassword", "Post", FormMethod.Post, new { @class = "login-box" })){
                <h4 class="margin-bottom-1x">Connexion</h4>
                <div class="form-group input-group">
                    @Html.TextBoxFor(Model=>Model.Email, new { @type = "email", @placeholder = "Email", @required = "required", @class="form-control" })<span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>
                <div class="form-group input-group">
                    @Html.TextBoxFor(Model => Model.OldPassword, new {@type = "password", @placeholder = "Mot de Passe", @required = "required", @class = "form-control" })<span class="input-group-addon"><i class="icon-lock"></i></span>
                </div>
                <div class="form-group input-group">
                    @Html.TextBoxFor(Model => Model.NewPassword, new { @type = "password", @placeholder = "Nouveau Mot de Passe", @required = "required", @class = "form-control" })<span class="input-group-addon"><i class="icon-lock"></i></span>
                </div>
                <div class="form-group input-group">
                    @Html.TextBoxFor(Model => Model.ConfirmPassword, new { @type = "password", @placeholder = "Confirmation du Mot de Passe", @required = "required", @class = "form-control" })<span class="input-group-addon"><i class="icon-lock"></i></span>
                    @Html.HiddenFor(Model => Model.AccessToken)<span class="input-group-addon"><i class="icon-lock"></i></span>
                </div>
                <div class="text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit">Connexion</button>
                </div>
            }
        </div>
    </div>
</div>
